@import "stylesheets/variables";

* {
  box-sizing: border-box;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  color: $base-color;
  background-color: none;
}

#app {
  padding: 2vw;
  background-color: $peach-crayola;
}

#mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#drawingContainer {
  grid-column: 0 1;
}

#storage {
  display: flex;
  grid-column: 1 2;
  background-color: $base-color;
  padding: 1em;

  display: grid;
  grid-template: auto / 100%;
  row-gap: 10px;
}

#drawingCreator {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
  // background-color: $base-color;
  border-radius: .5em;

  > * {
    color: rgba(255, 255, 255, 0.793);
  }
  
  button {
    padding: .5em 1em;
    border: 0;
    border-radius: .5em;
    background-color: $paradise-pink;
  }

  button:hover {
    transform: scale(1.05);
  }
}

.drawBoard {
  width: $grid-dims;
  height: $grid-dims;
  background-color: white;
  display: grid;
  grid-template: repeat($grid-resolution, 1fr) / repeat($grid-resolution, 1fr);

}

.row {
  width: 100%;
  height: 16px;
  display: grid;
  grid-template-columns: repeat($grid-resolution, 1fr);
}

.box {
  background-color: white;
  width: 16px;
  height: 100%;
  // border: .1px solid lightcyan;
}

.filled {
  background-color: $base-color;
}

.thumbnail {
  background-color: white;
  width: 100px;
  height: 100px;
  grid-template: repeat($grid-resolution, 1fr) / repeat($grid-resolution, 1fr);
}
