body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black
}

#screen {
  flex: 0 0 auto;
  background-color: white;
  width: 1080px;
  height: 2340px;
  margin: 0;
  padding: 0;
}

